// import external styles here

/**
 * TIP: Replace this style import with rtl styles to enable rtl mode
 *
 * import './_metronic/assets/css/style.rtl.css'
 **/
@import "./_metronic/assets/sass/style.scss";
@import "./_metronic/assets/sass/plugins.scss";
@import "./_metronic/assets/sass/style.react.scss";

// fontawesome free
@import "@fortawesome/fontawesome-free/css/all.min.css";

// Datepicker
@import "socicon/css/socicon.css";

.MuiPickersDay-root {
  font-size: 1.05rem !important;
}

// global font labels
.form-label {
  font-size: 1.075rem !important;
  font-weight: 600 !important;
}

.form-check-label {
  color: var(--bs-gray-800) !important;
}

.react-bootstrap-table th {
  font-size: 1rem !important;
  color: #999 !important;
}

.react-bootstrap-table td {
  font-size: 1.075rem !important;
}

.badge-product-icon i {
  font-size: 1.2rem !important;
}

.cursor-link {
  cursor: pointer;
}
